<div class="button-container">
  <div class="close-btn">
    <button mat-icon-button color="basic" (click)="closeSideNav()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="edit-btn" *ngIf="selectedRecipe.id != -99">
    <button mat-raised-button color="{{isEditMode?'basic':'primary'}}" type="button" (click)="!isEditMode?editRecipe():cancelForm()">{{isEditMode?'Cancel':'Edit Recipe'}}</button>
  </div>
  <div class="save-btn" *ngIf="isEditMode">
    <button mat-raised-button color="primary" type="button" (click)="saveRecipe(recipeForm.value)">Save Recipe</button>
  </div>
  <div class="delete-btn" *ngIf="selectedRecipe.id != -99">
    <!-- <button mat-raised-button color="warn" type="button" (click)="deleteRecipe()">Delete Recipe</button> -->
    <button mat-mini-fab color="warn" (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<br>
<div class="recipe-detail-normal" *ngIf="!isEditMode">
  <div class="recipe-field">
    <h1>{{selectedRecipe.name}}</h1>
  </div><br>
  <div class="recipe-field">
    <span class="recipe-label">Cuisine: </span>
    <span class="recipe-label-value">{{selectedRecipe.cuisine}}</span>
  </div>
  <div class="recipe-field">
    <span class="recipe-label">Number of servings: </span>
    <span class="recipe-label-value">{{selectedRecipe.numberOfServings}}</span>
  </div>
  <div class="recipe-field">
    <span class="recipe-label">Cooking Time: </span>
    <span class="recipe-label-value">{{selectedRecipe.cookingTime}}min</span>
  </div>
  <div class="recipe-field">
    <span class="recipe-label">Ingredients: </span><br>
    <span class="recipe-label-value recipe-info-newline" >{{selectedRecipe.ingredients}}</span>
  </div><br>
  <div class="recipe-field">
    <span class="recipe-label">Preparation Steps: </span><br>
    <span class="recipe-label-value recipe-info-newline">{{selectedRecipe.preparationSteps}}</span>
  </div><br>
</div>


<div class="recipe-detail-form" *ngIf="isEditMode">
  <div class="form-container">
    <form [formGroup]="recipeForm">
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Recipe Name</mat-label>
        <input matInput  formControlName="name" required>
      </mat-form-field><br>
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Cuisine</mat-label>
        <input matInput  formControlName="cuisine" required>
      </mat-form-field><br>
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Number of Servings</mat-label>
        <input matInput type="number" formControlName="numberOfServings" required>
      </mat-form-field><br>
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Cooking Time (in minutes)</mat-label>
        <input matInput type="number" formControlName="cookingTime" required>
      </mat-form-field><br>
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Ingredients</mat-label>
        <textarea matInput rows="3" formControlName="ingredients"></textarea>
      </mat-form-field><br>
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Preparation Steps</mat-label>
        <textarea matInput rows="3" formControlName="preparationSteps"></textarea>
      </mat-form-field><br>
      <!-- <button mat-raised-button color="primary" type="submit">Save Recipe</button> -->
    </form>
  </div>
</div>

<ng-template #deleteDialog>
<div mat-dialog-content>
  <p>Are you sure you want to delete the recipe?</p>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="deleteRecipe()">Yes</button>
  <button mat-button (click)="dialog.closeAll()">No</button>
</div>
</ng-template>
