/*** CSS for Recipes view - start ***/

.all-recipes{
  padding-bottom:7vh;
}

.search-field {
  width:30vw;
  top: 1vh;
}

.new-btn{
  position: absolute;
  left:4vw;
  top:2vh;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.recipe-options{
  display: flex;
  justify-content: space-around;
}

.list-horizontal{
  padding: 0;
  display:inline-flex;
}

.list-horizontal .mat-list-item {
  display: inline-block;
  height: auto;
  width: 15vw;
}

.mat-grid-recipe-tile{
    overflow:visible !important;
}

.tile-recipe-details-container{
  display:flex;
  height:10vh;
  flex-direction: column;
  justify-content: space-around;
}

.mat-recipe-tile {
    text-align:center;
    width:13vw; /*75% if not using owl-carousel */
    height: 100%; /*100% if not using owl-carousel*/
    /* border:2px solid rgb(126, 105, 105); */
    background-color: white;
    cursor: pointer;
    border-radius:3%;
}

.recipe-details-container{
    padding:0px;
    margin-top:2% !important;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.mat-time-icon{
    font-size:14px;
}
.tile-recipe-img img{
    width: 100%;
    height: auto;
    border-radius:3%;
}

.tile-recipe-img{
    text-align: center;
    width: 100%;
    height: auto;
    border-radius:3%;
    /* overflow: hidden; */
}

/* Styles for showing a shadow around the recipe tile */
.shadow-custom {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }

/* Styles for increasing the shadow around the recipe tile when mouse hover */
  .shadow-custom:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  .recipe-cuisine{
      margin-top:2%;
  }

  /*** CSS for Recipes view - end ***/

  /*** CSS for Recipes Sidenav - start***/
  .recipe-sidenav {
    width:40vw;
  }

  .recipe-container{
      /* position: absolute; */
      background-color: inherit;
      top:0;
      bottom:0;
      left:0;
      right:0;
  }

  .recipe-sidenav-content{
    overflow: hidden !important;
    /* margin-left:5%; */
    padding-left:5%;
    padding-right:5%;
  }

    /*** CSS for Recipes Sidenav - end***/

    .tile-recipe-name{
      font-size:1.3vw;
      font-weight: bold;
    }

    .tile-recipe-details{
      font-size:1vw;
    }

    .tile-recipe-name-all{
      font-size:0.9vw;
      font-weight: bold;
    }

    .tile-recipe-details-all{
      font-size:0.8vw;
    }

    .all-recipes h2, .recipe-cuisine h2 {
      font-weight: bold;
    }