/*** Styles for Home page Title - Start***/

.home-body{
    height: 100vh;
    background-image: url('../../assets/bg-1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 1400px) {
    .home-body{
        background-image: url('../../assets/bg-1400.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.home-title{
    font-family: 'Cookie', cursive;
    font-size: 12vw;
    /* transform: rotate(-16deg); */
    position: absolute;
    color: darkslategray;
    top: 40%;
    left: 13%;
}

/*** Styles for Home page Title - End ***/

/*** Styles for Scroll button - Start***/
.scroll-down {
    position: absolute;
    margin: auto;
    bottom: 1.25rem;
    left:0;
    right:0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    z-index:2;
}

.scroll-down img{
    cursor: pointer;
    animation: shake 5s;
    animation-iteration-count: infinite;
}

/* Animation for scroll button */
@keyframes shake {
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);} 
    20%, 40%, 60%, 80% {transform: translateY(10px);} 
}

/*** Styles for Scroll button - End ***/

.view-recipe-content{
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */

    background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*** Styles for Cup Animation - Start ***/

#wrap {
    position: absolute;
    bottom: 0;
    right: 10%;
}
.steam {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #7c3e04;
    margin-top: -75px;
    margin-left: 75px;
    z-index: 0;
    opacity: 0;
  }
  
  #steam-one {
    -webkit-animation: steam-one 4s ease-out infinite;
    animation: steam-one 4s ease-out infinite;
  }
  
  #steam-three {
    -webkit-animation: steam-one 4s ease-out 1s infinite;
    animation: steam-one 4s ease-out 1s infinite;
  }
  
  @-webkit-keyframes steam-one {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam-one {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  #steam-two {
    -webkit-animation: steam-two 4s ease-out 0.5s infinite;
    animation: steam-two 4s ease-out 0.5s infinite;
  }
  
  #steam-four {
    -webkit-animation: steam-two 4s ease-out 1.5s infinite;
    animation: steam-two 4s ease-out 1.5s infinite;
  }
  
  @-webkit-keyframes steam-two {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam-two {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  
  #cup {
    z-index: 0;
  }
  
  #cup-body {
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 0 0 150px 150px;
    background-color: #78dbe8;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
  }
  
  #cup-shade {
    position: relative;
    height: 300px;
    width: 200px;
    background-color: #26aebf;
    display: inline-block;
    margin-left: 42%;
    margin-top: -3px;
    transform: rotate(50deg);
    z-index: 1;
  }
  
  #cup-handle {
    position: relative;
    height: 75px;
    width: 80px;
    border-radius: 0 150px 150px 0;
    border: 15px solid #26aebf;
    margin-bottom: 95px;
    margin-left: 250px;
    display: inline-block;
    z-index: 0;
  }
  
  #saucer {
    position: absolute;
    height: 30px;
    width: 300px;  
    border-radius: 0 0 100px 100px;
    background-color: #78dbe8;
    margin-top: -32px;
    margin-left: 5px;
    z-index: 1;
  }
  
  #shadow {
    height: 10px;
    width: 300px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 6px;
    background-color: #DC696F;
  }

/*** Styles for Cup Animation - End ***/